*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to bottom, #808080);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    max-width: 1000px;
    padding: 40px 20px;
    background: linear-gradient(to right, #AAC3D9, #ACBBD0, #B6A5B8, #ad959d, #BF8F9F, #C28998, #C77F8D, #CA7683, #CF6E79, #D36570);
    border: 1px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    margin: 10%;
    
  }
  
  .mensagem-boas-vindas {
    width: 100%;
    text-align: center;
    color: white;
    font-weight:600;
    font-size: 1.1rem;
  }
  
  .conteudo-principal {
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    width: 100%;
  }
  
  .Logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10%;
  }
  
  .Logo img {
    width: 150px;
    height: auto;
    margin-left: 100px;
  }
  
  .Botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .Botoes button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .Botoes button:hover {
    background-color: #B239D0;
    color: white;
  }
  
  .material-symbols-outlined {
    font-size: 1.2rem;
  }

  
  
  
  #botao-posts {
    background-color: #ffdd1dc5;
    color: black;
  }
  
  #botao-posts:hover {
    background-color: #ffd300;
  }
  
  #botao-usuarios {
    background-color: #ffdd1dc7;
    color: black;
  }
  
  #botao-usuarios:hover {
    background-color: #ffd300;
  }
  
  #botao-logout {
    background-color: #FF4D4D;
    color: white;
  }
  
  #botao-logout:hover {
    background-color: #cc0000;
  }
