* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

h1,
p {
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #333333;
  box-sizing: border-box;
  padding: 3rem 8rem;
  gap: 2rem;
}

.missão-visão-valores {
  display: flex;
  align-items: center;
  width: 40rem;
  gap: 4%;
}

.missão-visão-valores h1 {
  font-size: 1.4rem;
}

.missão-visão-valores p {
  font-size: 1rem;
}

.visão {
  display: flex;
  flex-direction: column;
  width: 14.5rem;
  height: 13.2rem;
  gap: 1.5rem;
}

.missão {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 13.2rem;
  gap: 1.5rem;
}

.valores {
  display: flex;
  flex-direction: column;
  width: 7.5rem;
  height: 13.2rem;
  gap: 1.5rem;
}

.linha {
  width: 1px;
  height: 16rem;
  background-color: white;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 12px;
  gap: 12px;
}

.instagram {
  display: flex;
  align-items: center;
  gap: 8px;
}

.instagram img {
  width: 24px;
}

.youtube {
  display: flex;
  align-items: center;
  gap: 8px;
}

.youtube img {
  width: 24px;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 10%;
}

.logo-cine-stroll {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 28%;
}

.logo-cine-stroll p {
  font-size: 3.8rem;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  background: linear-gradient(to right, #ffd700, #8b0000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.créditos-code {
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
  width: fit-content;
  gap: 0.2rem;
}

.créditos-code p {
  font-weight: bold;
  width: fit-content;
}

.créditos-code img {
  width: 22rem;
}

@media (max-width: 1518px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 970px) {
  html {
    font-size: 14px;
  }

  .footer {
    display: grid;
    grid-template-areas:
      "logos redes"
      "missao missao";
    grid-template-columns: 2fr 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
    justify-items: center;
    align-items: center;
    padding: 3rem 2rem;
  }

  .logos {
    grid-area: logos;
    justify-self: center;
    width: fit-content;
  }

  .redes-sociais {
    grid-area: redes;
    justify-self: left;
    width: fit-content;
  }

  .missão-visão-valores {
    grid-area: missao;
    width: fit-content;
  }

  #linhaFinal {
    display: none;
  }
}

@media (max-width: 632px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .missão-visão-valores {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    justify-content: left;
    text-align: justify;
  }

  .visão {
    width: 80%;
    height: fit-content;
  }

  .missão {
    width: 80%;
    height: fit-content;
  }

  .valores {
    width: 80%;
    height: fit-content;
  }

  .valores p {
    word-spacing: 4px;
  }

  .linha {
    height: 1px;
    width: 80%;
  }
}
