
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#000000, #6a0dad);
    min-height: 100vh;
}


.imagemFundo{
    z-index: -1;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    height: 880px;
}

.conteudo{
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 0;
    flex-direction: column;
    align-items: center;
 
}

.apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.apresentacao .textoApresent{
    width: 25%; 
}

.textoLogo img{
    width: 281px;
    height: 374.67px;
}

.textoLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoApresent{
    font-size: 36px;
    margin-top: 70px;
}

.textoApresent p{
    color: azure;
    font-weight: bold;
    font-weight: 700; 
}

.textoLogo h2{
    font-size: 48px;
    transform: translateY(60px);
    background: linear-gradient(90deg, #f7d700, #8b0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carrossel{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.botaoEsquerdo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    opacity: 80%;
    width: 40px;
    height: 70px;
    border-radius: 20px;
    margin-right:100px;
    margin-top: 150px;
    cursor: pointer;
}


.cards{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 285px;
    border-radius: 20px;
    background-color: aliceblue;
    opacity: 80%;  
    bottom: 100px;
}

.botaoDireito{
    background-color: aliceblue;
    display: flex;
    opacity: 80%;
    width: 40px;
    height: 70px;
    border-radius: 20px;
    margin-left:100px;
    margin-top: 140px;
    cursor:pointer;
}

.botaoDireito {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao{
    display: flex;
    width: 80%;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
}

.descricao h2{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 48px;
    margin: 0;
    margin-top: 60px;
}

.descricao p{
    text-align: left;
    color: aliceblue;
    font-size: 32px;
    font-weight: bold;
    margin-top:20px ;
}

.textoImagem{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textoCard{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 10px;
}

.imagemCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 10px;

}
.imagemCard img{
    width: 88px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.estrelas{
    color: #FF6A00;
}

.botaoCard{
    width: 100%;
    margin-top: 35px;
}

.botaoCard button{
    background-color: #FFD700;
    border-radius: 20px;
    border:0px;
    width: 106px;
    height: 44px;
    margin-left: 10px;
    cursor: pointer;
}

.textoBotao{
    font-size: 20px;
    margin: 0;
}




