html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to bottom, #29212F, #36213D, #52235B, #5F2469, #872D98);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    flex-direction: column;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.linhaInicial, .posts, .lupa {
    background: transparent; 
}

.linhaInicial{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    color: rgb(255, 255, 255);
}

.pesquisa span{
    color: black;
    transform: translateY(-45px) translateX(+10px)

    

}

.lupa{

    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 251, 11);
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    gap: 2%;
    padding-left: 35px;
    
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

.movie-card {
  display: flex;
  background: color #370061;
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 1.2);
  color: white;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.movie-card img {
  width: 180px;
  height: auto;
  object-fit: cover;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.movie-info .titulo {
  font-size: 1.2rem;
  font-weight: 700;
}

.movie-info .ano {
  font-size: 0.9rem;
  color: #ccc;
  float: right;
  
}

.movie-info p {
  font-size: 0.9rem;
  margin: 0.5rem 0 1rem;
}

.info-extra {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 30%;
}

.avaliacao {
  display: flex;
  gap: 2px;
  align-items: center;
}

.avaliacao .material-symbols-outlined {
  color: gold;
}

.paginacao {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
    margin: auto;
    margin-bottom: 2%;
    
  }
  
  .paginacao li a {
    padding: 10px 15px;
    background-color: #52235B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px solid black;
    font-size: 14px;
    padding: 6px 12px;
  }

  @media (max-width: 768px) {
    .paginacao li a {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
  
  @media (max-width: 480px) {
    .paginacao li a {
      font-size: 10px;
      padding: 3px 6px;
    }
}

  .paginacao li a:hover {
    background-color: #872D98;
  }

  .paginacao li a.ativo {
    background-color: #190e1d;
    font-weight: bold;
    cursor: default;
  }


