#modalEdit.tudo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
}

#modalEdit .fundoEditar {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}

#modalEdit .modalEditar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalEdit .containerEditar {
  width: 500px;
  background: linear-gradient(to right, #333333 0%, #6a0dad 200%);
  border-radius: 16px;
  padding: 20px;
  color: white;
}

#modalEdit .formModalEditar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#modalEdit .imagemEditar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modalEdit .imagemEditar img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

#modalEdit .tituloEditar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#modalEdit .tituloEditar input,
#modalEdit .tituloEditar textarea {
  border-radius: 8px;
  border: none;
  padding: 8px;
  width: 90%;
}

#modalEdit .botoesModal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#modalEdit .botoesModal button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#modalEdit .botoesModal button:first-child {
  background-color: gray;
  color: white;
}

#modalEdit .botoesModal button:last-child {
  background-color: #6a0dad;
  color: white;
}