p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.modal{
    position: absolute;
    z-index: 3;
    height: fit-content;
    width: 20%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #6a0dad, #ff7d00);
}

#visualizar{
    width: 30%;
    border-radius: 16px;
    padding: 30px 30px 30px 30px;
    gap: 40px;
}

.modalTopo{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 70px;
}

.modalInputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.modalInputs div{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

#fotoPerfil {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; 
    height: 200px; 
    border-radius: 20px;
    overflow: hidden;
}

#fotoPerfil img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.modalInputs input{
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    padding-left: 2%;
    width: 97%;
    border: 0px;
}

.botaoFecharModalContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.botaoFecharModal{
    width: 150px;
    height: 50px;
    border-radius: 16px;
    background-color: #b80505;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#iconeSenha{
    transform: translate(-15px,-37px);
    font-weight: bold;
    height: 25px;
    font-size: 22px;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.3s;
}

#iconeSenha:hover{
    font-size: 25px;
    transform: translate(-14px,-39px)
}

.fundoModal{
    position: fixed;
    z-index: 2;
    display: none;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100vh;
}