* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}

#logo-navbar {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

div #logo-navbar {
    height: fit-content;
}

#logo-navbar img {
    height: 60px;
    width: 60px;
    padding-left: 20px;
}

.botoes-navbar {
    width: 34px;
    height: 34px;
    margin: 15px;
}

.botoes-navbar:hover {
    width: 30px;
    height: 30px;
    margin: 17px;
}

#box-botoes {
    margin-right: 12px;
}