html,
body,
.postIndividual {
  width: 100%;
  height: 100%;
}

body, html{
  height: fit-content;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    to bottom,
    #29212f,
    #36213d,
    #52235b,
    #5f2469,
    #872d98,
    #b239d0
  );
  color: white;
  padding: 0;
  margin: 0;
}

.postIndividual {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  margin-top: 70px;
  gap: 30px;
}

.infoContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.usuario {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 2vw;
}

.perfil {
  display: flex;
  height: fit-content;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 4%;
  gap: 8%;
  border-radius: 16px;
}

.perfilImg {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; 
  height: 80px; 
  border-radius: 12px;
  overflow: hidden;
}

.perfilImg img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.perfil h1 {
  font-size: 30px;
}

.avaliacao {
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 6%;
  border-radius: 16px;
}

.avaliacao h1 {
  font-size: 30px;
}

.estrelas > * {
  color: yellow;
  font-size: 20px;
}

.diretor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  gap: 8px;
  border-radius: 16px;
}

.div-diretor-ano{
  background: rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 10px 30px;
}

.diretor h1 {
  font-size: 20px;
  margin: 0;
}

.diretor h2 {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.anoLancamento {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  gap: 8px;
  border-radius: 16px;
}

.anoLancamento h2 {
  font-size: 20px;
  margin: 0;
  font-style: italic;
  color: #fffcfc;
  text-align: center;
}

.container-filme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 15px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  height: fit-content;
}

.filme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 450px;
  overflow: hidden;
  height: 350px;
  border-radius: 8px;
}

.div-titulo {
  max-width: 230px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}

.filme img {
  justify-content: center;
  height: 100%;
  border-radius: 8px;
}

.filme h1 {
  font-size: 22px;
  text-align: center;
  height: 50px;
}

.comentario {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  gap: 1.6rem;
}

.comentario > * {
  margin: 0px;
}

.comentario p {
  font-size: 1.6rem;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#data {
  font-size: 1.2rem;
  font-style: italic;
}

.likes {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: left;
  gap: 0.6rem;
}

.likes i {
  font-size: 2.4rem;
  transition: transform 0.3s ease;
}

#up {
  color: #a9c3d9;
}

#up:hover {
  color: #6aa4d3;
  transform: scale(1.1);
}

#down {
  color: #8b0000;
}

#down:hover {
  color: #4b1616;
  transform: scale(1.1);
}

.count {
  font-size: 1.6rem;
}

@media (max-width: 1530px){
  p{
    font-size: 24px;
  }

  h1{
    font-size: 30px;
  }
}

@media (min-width: 975px) and (max-width: 1370px) {

  .postIndividual {
    width: 76%;
  }

  .usuario {
    width: 32vw;
  }

  .usuario h1 {
    font-size: 2.4vw;
    text-align: center;
  }

  .diretor h1{
    font-size: 20px;
  }

  .estrelas span {
    font-size: 20px;
  }

  .filme {
    max-width: 300px;
    height: 270px;
  }

  .filme h1 {
    font-size: 20px;
  }

  .div-titulo{
    width: 200px;
    font-size: 20px;
  }
  .comentario p{
    font-size: 20px;
  }
}

@media(max-width: 1150px){
  .comentario p{
    font-size: 20px;
  }
}


@media (max-width: 975px) {
html {
  font-size: 60%;
}

.postIndividual {
  width: 84%;
}

.infoContainer {
  gap: 10px;
}

.perfil {
  width: 250px;
}

.diretor h2{
  font-size: 16px;
}

.anoLancamento h2{
  font-size: 16px;
}

.usuario {
  width: fit-content;
}

.usuario h1 {
   font-size: 16px;
}

.div-diretor-ano{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 250px;
}

.diretor{
  padding: 0px;
  width: fit-content;
}

.diretor h1{
  width: fit-content;
}

.anoLancamento{
  padding: 0px;
  width: fit-content;
}

.avaliacao {
  flex-direction: column;
  width: 250px;
}

.estrelas i {
  font-size: 14px;
}

.filme {
  max-width: 300px;
  height: 240px;
}

.div-titulo{
  width: 180px;
}

.container-filme h1{
  font-size: 18px;
}
}

@media (max-width: 750px){
  .perfil{
    width: 200px;
  }

  .avaliacao{
    width: 200px;
  }

  .div-diretor-ano{
    width: 200px;
    gap: 5px;
    font-size: 10px;
  }

  .diretor h1{
    font-size: 14px;
  }

  .diretor h2{
    font-size: 12px;
  }

  .anoLancamento h2{
    font-size: 12px;
  }

  .filme{
    max-width: 230px;
    height: 200px;
  }

  .div-titulo{
    width: 150px;
  }

  h1.div-titulo{
    font-size: 16px;
  }
}

@media (max-width: 580px){
  .div-diretor-ano{
    flex-direction: row;
    width: 340px;
    gap: 30px;
  }

  .infoContainer{
    flex-direction: column-reverse;
    gap: 30px;
  }

  .perfil{
    width: 340px;
  }
  .avaliacao{
    flex-direction: row;
    width: 340px;
  }

  .filme{
    height: 250px;
    max-width: 320px;
  }
}