.perfilSidebar img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 18px;
}

.sidebar {
    background-color: #333333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 8px 8px 0;
    height: 100%;
    z-index: 1000;
    position: absolute;
}

.topSidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 16px;
}

.perfilSidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    min-height: 3.5rem;
}

.toggleSidebar {
    cursor: pointer;
    transition: all 0.4s ease;
}

.toggleSidebar:hover {
    scale: 1.05;
}

.contentSidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin: 0;
    padding: 0;
}

.itemSidebar {
    list-style: none;
    transition: all 0.2s ease;
}

.itemSidebar:hover {
    scale: 1.05;
}

.itemSidebar a {
    text-decoration: none;
    color: #b9a533;
    font-size: 10px;
}

.itemDescription {
    transition: opacity 0.5s ease;
    white-space: nowrap;
}


#buttonLogout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    gap: 0.7rem;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    border-radius: 10px;
    padding: 0.8rem;
    background-color: #b9a533;
    font-weight: 600;
    margin-bottom: 16px;
}

.closedSidebar {
    width: 64px;

}

.closedSidebar ul {
    width: 64px;
}

.closedSidebar .itemDescription {
    width: 10px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.closedSidebar .perfilSidebar img {
    display: none;
}

.closedSidebar .perfilSidebar {
    justify-content: center;
}

.closedSidebar .itemSidebar a {
    display: flex;
    justify-content: center;
}

.closedSidebar #buttonLogout {
    width: 40px;
}

.closedSidebar #buttonLogout .itemDescription {
    display: none;
}

.closedSidebar .toggleSidebar {
    transform: rotate(180deg);
}

@media(max-width: 768px) {
    .sidebar {
        padding: 0px;
        height: 1226.5px;
    }

    .closedSidebar .buttonLogout {
        width: 32px;
        height: 32px;
    }
}

@media(max-width: 500px) {
    .sidebar {
        padding: 0px;
        height: 1226.5px;
    }

    .closedSidebar .buttonLogout {
        width: 32px;
        height: 32px;
    }
}

@media(max-width: 375px) {
    .closedSidebar {
        width: 56px;
    }
}