* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    gap: 48px;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: grey;
    background-image: url('../assets/Background3dCopia.png');
    overflow: hidden;
}

.php {
    align-self: flex-start;
    position: absolute;
}

.barra-superior {
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, #333333 0%, #6a0dad 200%);
    display: flex;
    margin-top: 80px;
    align-items: center;
    border-radius: 16px;
    justify-content: space-between;
}

.none {
    display: none;
}

.logo-barra-superior {
    width: 88px;
    height: 104px;
    margin-left: 1%;
}

.inativo {
    display: none;
}

.botao-criar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 96px;
    height: 40px;
    border-radius: 8px;
    margin-right: 2%;
    background-color: #ddd;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #333333;
}

.botao-criar i {
    font-size: 24px;
}

.botao-criar:hover {
    background-color: white;
    cursor: pointer;
}

.div-titulo {
    width: 600px;
}

.nome {
    color: white;
    margin-left: 10%;
    margin-right: 20%;
}

.div-tabela {
    width: 64%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(to right, #333333 0%, #6a0dad 200%);
    color: white;
    border-radius: 16px;

}

.tabela tr {
    height: 80px;
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
}

.tabela tr:first-child {
    border-top: 0;
}

.tabela tr:last-child {
    border-bottom: 0;
}

.tabela th {
    font-size: 20px;
}

.tabela td {
    text-align: center;

}

.tabela td p {
    margin: 16px 0px;
}

.tabela .info {
    display: none;
}

.id {
    width: 15%;
}

.titulo {
    width: 20%;
}

.autor {
    width: 20%;
}

.data {
    width: 20%;
}

.acoes {
    width: 25%;
}

.divacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    gap: 16px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s;
}

button i {
    font-size: 25px;
}

.ver {
    background-color: #a9c3d9;
}

.ver:hover {
    background-color: #c2d8ec;
}

.editar {
    background-color: yellow;
}

.editar:hover {
    background-color: rgb(255, 255, 198);
}

.apagar {
    background-color: red;
}

.apagar:hover {
    background-color: rgb(248, 144, 144);
}

button:hover {
    scale: 1.1;
    opacity: 1.1;
}

.paginacao {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.paginacao li a {
    padding: 10px 15px;
    background-color: #52235B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px solid black;
    font-size: 14px;
    padding: 6px 12px;
}

.paginacao li a:hover {
    background-color: #872D98;
}

.paginacao li a.ativa {
    background-color: #190e1d;
    cursor: default;
}

.passar {
    white-space: nowrap;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: none;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #333333 0%, #6a0dad 200%);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
    z-index: 1001;
    width: 500px;
    max-width: 90%;
    display: none;
    color: white;
}

#modal-imagem {
    max-width: 100%;
    max-height: 200px;
    background-color: white;
}

.modal-conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-conteudo h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.modal-input-grupo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.modal-input-grupo.titulo {
    width: fit-content;
}

#titulo.post-content {
    width: 300px;
}

.div-titulo-ano {
    display: flex;
    gap: 25px;
}

#ano.post-content {
    width: 110px;
}

#modal-ano.post-content {
    width: 93px;
}

#modal-titulo.post-content {
    width: 300px;
}

#modal-diretor {
    width: 140px;
}

#modal-autor {
    width: 140px;
}

#modal-ano-editar {
    width: 93px;
}

.modal-input-grupo label {
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 16px;
    width: fit-content;
}

.modal-input-grupo input,
.modal-input-grupo textarea {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.modal-input-grupo textarea {
    min-height: 100px;
    resize: vertical;
}

#modal-data {
    width: 140px;
    overflow: auto;
}

.modal-botoes {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.modal-botoes button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    width: auto;
    height: auto;
    border-radius: 8px;
}

.modal-botoes .criar {
    background-color: #4CAF50;
    color: white;
}

.modal-botoes .cancelar {
    background-color: #f44336;
    color: white;
}

.modal-botoes button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ativo {
    display: block;
}

.imagem-preview-container {
    display: flex;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
}

#preview-imagem-selecionada {
    display: block;
    margin: 0 auto;
}

#preview-imagem-selecionada {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}

.post-image-container {
    margin: 10px 0;
    text-align: center;
}



.post-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    min-height: 20px;
    margin-top: 5px;
    word-wrap: break-word;
    color: black;
}

#visualizar-post .modal-input-grupo label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#visualizar-post-imagem {
    max-width: 100%;
    max-height: 200px;
}

#visualizar-post-data {
    width: 100px;
}

#visualizar-post-autor {
    width: 160px;
    display: block;
}

#visualizar-post-nota {
    width: 80px;
}

.div_autor_nota {
    display: flex;
    gap: 25px;
}

#autor.post-content {
    width: 155px;
}

#diretor.post-content {
    width: 155px;
}

.botao-post-imagem {
    display: flex;
    padding: 0;
    height: 56px;
    width: 160px;
    background-color: #52235B;
}

.image-upload-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #391944;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    width: 160px;
    height: 64px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    padding: 4px 12px;
}

.image-upload-label:hover {
    background-color: #211225;
}

.image-upload-input {
    display: none;
}

.salvar {
    background-color: #008000;
    color: white;
}

#post-imagem {
    display: none;
}

#visualizar-post-conteudo {
    overflow: visible;
    height: 120px;
    font-size: 16px;
    padding: 4px;
}

#modal-autor {
    width: 160px;
}

@media(max-width: 1440px) {
    .div-tabela {
        width: 76%;
    }
}

@media(max-width: 840px) {
    .acoes button {
        width: 32px;
        height: 32px;
    }

    .acoes button i {
        font-size: 20px;
    }

    .botao-criar {
        margin-right: 10%;
    }

    .id {
        padding-left: 15px;
    }

    .acoes {
        padding-right: 15px;
    }
}

@media(max-width: 768px) {
    .div-tabela {
        width: 68%;
    }

    .barra-superior .titulo {
        font-size: 15px;
        margin-left: 12%;
        margin-right: 0
    }

    .botao-criar {
        margin-right: 8%;
        width: 200px;
    }

    td {
        padding-left: 10px;
        padding-right: 10px;
    }

    .paginacao {
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
    }

    .paginacao li {
        margin-bottom: 15px;
    }

    .autor {
        display: none;
    }

    .data {
        display: none;
    }

    .divacoes {
        flex-direction: column;
        height: fit-content;
        padding: 12px 0px;
    }

    .divacoes button {
        height: 36px;
        width: 36px;
    }

}

@media(max-width: 550px) {
    .nome {
        font-size: 24px;
    }

    .div-titulo-ano {
        flex-direction: column;
    }
}

@media(max-width: 500px) {
    .div_autor_nota {
        flex-direction: column;
    }
}

@media(max-width: 425px) {
    body {
        height: fit-content;
    }

    .logo-barra-superior {
        display: none;
    }

    .tabela tr {
        width: 50%;
    }

    .tabela td {
        width: 25%;
    }

    .nome {
        font-size: 24px;
    }

    .botao-criar {
        padding: 8px;
        width: 32%;
    }

    .div-tabela .tabela {
        height: fit-content;
    }

    .div-tabela tr:not(.tabela tr:first-child) {
        height: fit-content;
        width: 100%;
    }

    .autor {
        display: none;
    }

    .data {
        display: none;
    }

    td {
        padding: 0;
    }

    .divacoes {
        flex-direction: column;
        height: fit-content;
        padding: 12px 0px;
    }

    .divacoes button {
        height: 36px;
        width: 36px;
    }

    .modal-container {
        max-width: 320px;
    }

    .div_autor_nota {
        flex-direction: column;
        gap: 4px;
    }

    #visualizar-post-autor {
        width: 100px;
    }

    #visualizar-post-nota {
        width: 40px;
    }
}

@media(max-width: 375px) {
    .id {
        display: none;
    }
}