* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    gap: 48px;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: grey;
}

.barra-superior {
    width: 64%;
    height: 120px;
    background: linear-gradient(to right, #333333 0%, #6a0dad 200%);
    display: flex;
    margin-top: 80px;
    align-items: center;
    border-radius: 16px;
    justify-content: space-between;
}

.logo-barra-superior {
    width: 88px;
    height: 88px;
    margin-left: 1%;
}

.botao-criar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 96px;
    height: 40px;
    border-radius: 8px;
    margin-right: 2%;
    background-color: #ddd;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #333333;
}

.botao-criar i {
    font-size: 24px;
}

.botao-criar:hover {
    background-color: white;
    cursor: pointer;
}

.titulo {
    color: white;
    margin-right: 24%;
}

.div-tabela {
    width: 64%;
    height: fit-content;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(to right, #333333 0%, #6a0dad 200%);
    color: white;

}

.tabela tr {
    height: 80px;
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
}

.tabela tr:first-child {
    border-top: 0;
}

.tabela tr:last-child {
    border-bottom: 0;
}

.tabela th {
    font-size: 20px;
}

.tabela td {}