* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    gap: 48px;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: grey;
}

.barra-superior {
    width: 64%;
    height: 120px;
    background: linear-gradient(to right, #333333 0%, #6a0dad 200%);
    display: flex;
    margin-top: 80px;
    align-items: center;
    border-radius: 16px;
    justify-content: space-between;
}

.logo-barra-superior {
    width: 88px;
    height: 88px;
    margin-left: 1%;
}

.botao-criar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 96px;
    height: 40px;
    border-radius: 8px;
    margin-right: 2%;
    background-color: #ddd;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #333333;
}

.botao-criar i {
    font-size: 24px;
}

.botao-criar:hover {
    background-color: white;
    cursor: pointer;
}

.titulo {
    color: white;
    margin-right: 24%;
}

.div-tabela {
    width: 64%;
    height: fit-content;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(to right, #333333 0%, #6a0dad 200%);
    color: white;
    border-radius: 16px;

}

.tabela tr {
    height: 80px;
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
}

.tabela tr:first-child {
    border-top: 0;
}

.tabela tr:last-child {
    border-bottom: 0;
}

.tabela th {
    font-size: 20px;
}

.tabela td {
    text-align: center;
}

tr td:first-child{
    width: 12%;
}

.acoes{
    width: 25%;
}

.divacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    gap: 16px;
}

button{
    border-radius: 50%;
    border: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid white;
}

button i{
    font-size: 24px;
}

.ver{
    background-color: aquamarine;
}

.editar{
    background-color: yellow;
}

.apagar{
    background-color: red;
}

.paginacao {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.paginacao li a {
    padding: 10px 15px;
    background-color: #52235B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px solid black;
    font-size: 14px;
    padding: 6px 12px;
}

.paginacao li a:hover {
    background-color: #872D98;
}

.paginacao li a.ativa {
    background-color: #190e1d;
    cursor: default;
}