<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/postIndividual.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>postIndividual</title>
</head>
<body>
    <div class="postIndividual">
        <div class="informações">
            <div class="dados">
                <div class="usuário">
                    <div class="perfil">
                        <img src="../../../public/assets/luke.jpg" alt="fotoPerfil">
                        <h1>Nome usuário</h1>
                    </div>
                    <div class="avaliação">
                        <h1>Avaliação:</h1>
                        <div class="estrelas">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                        </div>
                    </div>
                    <div class="avaliação">
                    </div>
                </div>
                <div class="filme">
                    <img src="../../../public/assets/caes.jpeg" alt="cdaImg">
                    <h1>Cães de Aluguel</h1>
                </div>
            </div>
        </div>
        <div class="comentário">
            <h1>titulo</h1>
            <p>texto</p>
            <p>data</p>
        </div>
        <div class="avaliar">
            <img src="" alt="up">
            <p class="upcount">000</p>
            <img src="" alt="down">
            <p class="downcount">000</p>
        </div>
    </div>
</body>
</html>