<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/tabelaDePosts.css">
    <title>Tabela de Posts - ADMIN</title>
</head>

<body>
    <table class="tabela-principal">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Avaliação</th>
            <th>Autor</th>
            <th>Data</th>
            <th class="botao">Ver</th>
            <th class="botao">Editar</th>
            <th class="botao">Excluir</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="div-paginacao">
        <div class="paginacao">
            <a href="#" class="prev-next">
                < </a>
        </div>
        <div class="paginacao">
            <a href="#">1</a>
        </div>
        <div class="paginacao">
            <a href="#">2</a>
        </div>
        <div class="paginacao">
            <a href="#">3</a>
        </div>
        <div class="paginacao">
            <a href="#">4</a>
        </div>
        <div class="paginacao">
            <a href="#">5</a>
        </div>
        <div class="paginacao">
            <a href="#" class="prev-next"> > </a>
        </div>
    </div>
</body>

</html>