<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>

<body>
    <div id="footer">
        <div id="missão-visão-valores">
            <div id="visão">
                <h1>Visão</h1>
                <p>Agregar as mais diversas opiniões sobre cinema em um único lugar,
                    promovendo um ambiente de integração, debate e que gere um senso
                    de comunidade onde toda visão é bem vinda.</p>
            </div>
            <div class="linha"></div>
            <div id="missão">
                <h1>Missão</h1>
                <p>Garantir oportunidade para todos expressarem sua opinão, 
                    contanto que tal seja respeitosa e agregadora. Com isso, 
                    pode-se conferir aos filmes uma nota média, além de avaliações individuais únicas!</p>
            </div>
            <div class="linha"></div>
            <div id="valores">
                <h1>Valores</h1>
                <p>Diversidade
                    Respeito
                    Integração
                    Diversão</p>
            </div>
            <div class="linha"></div>
        </div>
        <div id="redes-sociais">
            <div id="instagram">
                <img src="../../../public/assets/instagram.png" alt="Logo Instagram">
                <p>Instagram</p>
            </div>
            <div id="youtube">
                <img src="../../../public/assets/youtube.png" alt="Logo Youtube">
                <p>Youtube</p>
            </div>
        </div>
        <div id="logos">
            <div id="logo-cine-stroll">
                <p>CINE STROLL</p>
            </div>
            <div id="créditos-code">
                <p>Site desenvolvido por</p>
                <img src="../../../public/assets/code-logo.png" alt="Logo Code Jr">
            </div>
        </div>
    </div>    
</body>

</html>