<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div id="logo">
        <a href="#">
            <img src="../../../public/assets/logo_cinestroll.png" alt="Logo CINE STROLL">
        </a>
    </div>

    <div id="texto-login">
        <h1>Entrar</h1>
        <h2>Digite o email e senha da sua conta.</h2>
    </div>

    <div id="caixa-login">
        <div class="formulario">
            <p id="titulo-email">Endereço de email</p>
            <input type="email" id="input-email" class="barra-formulario">
        </div>
        <div class="formulario">
            <p id="titulo-senha">Senha</p>
            <input type="password" id="input-senha" class="barra-formulario">
        </div>
        <div class="botao">
            <button id="botao-entrar">
                <a href="">
                    <div id="texto-botao">
                        <p>Entrar</p>
                    </div>
                </a>
            </button>
        </div>
    </div>

</body>

</html>